.DisplaysCards {
    background-color: rgb(63, 108, 48);
  	position: relative;
  	height: 100vh;
    text-align: center;
}
.DisplaysCards button {
    padding: 20px;
    background-color: rgb(66, 43, 43);
    color: rgb(69, 243, 0);
    border-radius: 10px;
    margin: 2em;
    cursor: pointer;
  }

.DisplaysCards button:hover {
    cursor: pointer;
    background-color: rgb(150, 120, 120);
  }

.DisplaysCards-cards {
    justify-content: center;
    margin: auto;
}